<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <td>Name</td>   
            <td>Age</td>  
            <td>Status</td>  
            <td>CreateAt</td>   
        </tr>    
    </thead>  
    <tbody>
        <tr *ngFor="let employee of employees">
            <td>{{employee.name}}</td>  
            <td>{{employee.age}}</td>  
            <td>{{employee.status}}</td>  
            <td>{{employee.createdAt | date}}</td>    
        </tr>    
    </tbody> 
</table>